// SKEW IS A GHOST DIV TO SHAPE THE ANGLE
//SINCE I CAN'T TRANSLATEY ON THE BOTTOM

.skew {
    position: relative;
    top: 33px;
    height: 66px;
    background: #fff;
    transform: skew(0deg, -5deg);
}


footer .footer-container {
    width: 100%;
    height: 157px;
    background: $primaryColor;

    .footer-text {
        position: relative;
        top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.6;
        }
    }
}