footer .footer-container {
    width: 100%;
    height: 157px;
    margin-top: 65px;
    background: linear-gradient(353deg, $primaryColor, $primaryColor 75%, rgb(255, 255, 255) calc(75% + 1px), rgb(255, 255, 255) 100%);
    // Linear-gradient built to smooth the transition line from one color to another

    .footer-text {
        position: relative;
        top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.6;
        }
    }
}