section {

    .section-top-container {
        height: auto;
        position: relative;
        top: -70px;

        .form-text {
            color: $textColor;
            padding: 0 18px 30px 16px;

            h1 {
                font-size: 20px;
                font-weight: 300;
                margin-bottom: 17px;
            }

            p {
                font-size: 12px;
                line-height: 1.5;
            }
        }
    }
    form .form-top-wraper, .form-bottom-wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px 18px 6px 12px;

        label {
            display: block;
            font-size: 12px;
            color: $textColor;
            margin-bottom: 6px;
        }

        .input-text {
            width: 385px;
            height: 30px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #707070b2;
            border-radius: 1px;
            opacity: 1;
            margin-bottom: 20px;
        }

        .form-radio-wraper{
            width: 385px;
            display: flex;
            margin-bottom: 20px;
            
            .input-radio {
                margin-right: 5px;
            }

            label {
                margin-right: 40px;
            }
        }

        .form-top-submit {
            width: 383px;
            height: 39px;
            cursor: pointer;
            color: $textColor;
            font-size: 16px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #707070b2;
            border-radius: 4px;
            opacity: 1;
        }
    }

    .form-bottom{
        display: grid;
    }

    .form-bottom-text {
        width: 100%;
        padding: 0 5%;
        margin: 28px 0;
        color: $textColor;
        font-size: 14px;
        text-align: center;
    }

    .form-bottom-submit {
        width: 260px;
        height: 39px;
        cursor: pointer;
        color: $textColor;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid $primaryColor;
        border-radius: 4px;
        margin: 20px auto;
    }
}