header {
    width: 100%;
    height: 397.89px;
    background: linear-gradient(196deg, $primaryColor, $primaryColor 75%, rgb(255, 255, 255) calc(75% + 1px), rgb(255, 255, 255) 100%);
    // Linear-gradient built to smooth the transition line from one color to another
    

    .header-wraper {
        height: 82%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .row-1 {
            width: 358px;
            height: 90px;
            color: $secondaryColor;
            margin: 61px 0 8px 16px;

            h1 {
                font-size: 40px;
                margin-bottom: 9px;
            }

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 14px;
            }
        }

        .row-2 {
            display: grid;
            grid-template-columns: repeat(2, 160px);
            grid-template-rows: repeat(2, 40px);
            grid-gap: 20px;
            margin-left: 38px;
            
            button {
                width: 160px;
                height: 40px;
                color: $textColor;
                font-size: 14px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: 0px 1px 6px #00000029;
                border: 1px solid #7070709f;
                border-radius: 4px;
                opacity: 1;
            }
        }
    }
}