main .products {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .products-item{
        display: flex;
        margin-bottom: 30px;

        .products-item-img{
            width: 169px;
            height: 129px;
            background-color: #fff;
            border: 1.5px solid $primaryColor;
            margin-right: 23px;
        }

        .products-item-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: $textColor;

            h4 {
                font-weight: 400;
            }

            p {
                font-size: 12px;
            }

            button {
                width: 200px;
                height: 30px;
                color: $textColor;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid $primaryColor;
                border-radius: 4px;
            }
        }
    }

    .products-plus {
        width: 260px;
        height: 39px;
        color: $textColor;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid $primaryColor;
        border-radius: 4px;
    }
}